:root {
    // color
    --DARK-SILVER: #717171; 
    --WHITE: #FFFFFF;
    --BLACK: #000; 
    --BLUE-VIOLET: #490E84;
    --DEEP-VIOLET: #2c0255;
    --INDEPENDENCE: #574B63;
    --CULTURED: #F5F5F7;
    
    // font-family
    --inter: 'Inter', sans-serif;
}


@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

