@import './vars';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--inter);
    font-size: 14px;
}
.wrapper-row {
    height: 100vh;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}